---
layout: talk
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>
  This webpage is currently brewing :coffee: and is expected to be completed in early 2026!
</p>

<div style="display: flex; flex-direction: column; align-items: center; gap: 2em; margin: 2em 0;">
  <img src="{{ base_path }}/images/proj_1.gif" alt="Project 1" style="width: 50%; max-width: 800px; height: auto;">
  <img src="{{ base_path }}/images/proj_2.gif" alt="Project 2" style="width: 50%; max-width: 800px; height: auto;">
  <img src="{{ base_path }}/images/proj_3.gif" alt="Project 3" style="width: 50%; max-width: 800px; height: auto;">
</div>


{% comment %}
{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
{% endcomment %}
